@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "";
}

<h2>title</h2>
<form method="POST" action="@Url.Action("New")">
    <input name="projectName"/>
    <button type="submit" value="sss"></button>
</form>